@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: "Poppins", sans-serif;
   background-image: url(../img/fotografia-de-celebracao-da-contagem-regressiva-do-ano-novo_762785-4151.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   user-select: none;
   height: 100vh;
   color: whitesmoke;

}

.container {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column;
   width: 100vw;
   height: 100vh;
   background-color: #00000080;
   text-align: center;
}

.title {
   font-size: calc(10px + 3vw);
}

.title p {
   font-size: calc(10px + 1vw);
   font-weight: 600;
}

.countDown {
   display: flex;
   justify-content: space-between;
   width: 60vw;
   flex-wrap: wrap;
}

.countDown h1 {
   font-size: calc(10px + 8vw);
   text-shadow: 0 0 10px whitesmoke; /* Sobreado no texto */
   transition: all .1s ease-in-out;
}

.button {
   background-color: white;
   color: black;
   padding: 10px;
   border: none;
   font-weight: 600;
   cursor: pointer;
   transition: background-color .1s;
   border-radius: 15px;
}

.button:hover {
   background-color: black;
   border: 2px solid white;
   padding: 8px;
   color: #fff;
   text-shadow: 0 0 10px #fff;
}