* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    background-color: #fff;
}

header {
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px auto;
    background-color: #fff;
}

main {
    text-align: center;
    margin: auto;
    height: calc(100vh - 200px);
}

#ligar {
    padding: 15px;
    width: 100px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all .2s ease;
}

#ligar:hover {
    background: rgba(0, 0, 0, 0.493);
    color: white;
}
img {
    transition: .6s ease-in-out;
}

footer {
    text-align: center;
    font-style: italic;
}