* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3%;
    color: white;
}

header {
    color: black;
    font-weight: 600;
    font-size: 2rem;
}

.calculadora {
    border: 1px solid;
    padding: 30px 10px;
    width: 380px;
    text-align: center;
    user-select: none;
    border-radius: 25px;
    background-color: orange;
}

button {
    width: 70px;
    height: 70px;
    font-size: larger;
    margin: 5px;
    color: white;
    font-weight: 600;
    background-color: #0f0f0f;
    border-radius: 7px;
    cursor: pointer;
}

button:hover {
    background-color: orange;
    border: 3px solid black;
    color: black;
}

#tecla0 {
    width: 155px;
}

.mostrar {
    background-color: #0f0f0f;
    width: 330px;
    height: 80px;
    margin: 10px auto;
    padding: 20px 10px 0 0;
    border-radius: 5px;
    font-size: 2.7rem;
    display: flex;
    justify-content: flex-end;
    overflow-y: hidden;
    scrollbar-width: none;
}

footer {
    color: black;
    font-style: italic;
    font-weight: 600;
}