*{
 font-family: sans-serif;   
 width: 100%;
 margin: 0 auto;
 box-sizing: border-box;
}
.logo{
    color: white;
    text-align: center;
    width: 600px;
    margin-bottom: 24px;
    font-size: 50px;
}
body{
    background-color: rgb(24, 23, 23);
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-input{
    max-width: 400px;
    margin: 14px 0;
}

.container-input span{
    font-size: 18px;
}

#slider{
    /* -webkit-appearance: none; */
    border-radius: 5px;
    width: 100%;
    background: #999797;
    height: 18px;
    outline: none;
    margin-top: 10px;
}

.classButton { 
    height: 35px;
    background-color: green;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    
}

.containe-password{
    text-align: center;
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.title{
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 8px;
  
}

.password{
    max-width: 400px;
    height: 60px;
    background-color: black;
    border-radius: 4px;
    display: flex; /* Coloca os elementos um ao lado do outro */
    justify-content: center;
    align-items: center;
    border: 2px solid #313131;
    transition: transform 0.5s; /*Demora 0.5 segundos do aumento do tamanho*/
  
}

.password:hover{
    transform: scale(1.05);/* Aumenta/diminui o tamanho*/ 
}

.classpan{
    position: relative;
    top: 20px;
    padding: 6px 8px;
    background: rgb(15, 15, 15);
    font-size: 16px;
    border-radius: 6px;
    visibility: hidden; /*Conteúdo invisível*/
    opacity: 0;
    transition: all 0.5s ease-in-out;
    max-width: 400px;
}

.hide{
    display: none;
}

.containe-password:hover .classpan{
    visibility: visible; /*conteúdo visível*/
    bottom: 50px;
    opacity: 1;
}

